<div class="container">
  <form [formGroup]="usersForm" (ngSubmit)="onSubmit()">
    <h3>CRUD Etudiants</h3>
    <div class="row">
      <table class="table" aria-describedby="My Forms">
        <tr>
          <th scope="col">Nom</th>
          <td>
            <input type="hidden" formControlName="id" />
            <input type="text" formControlName="surname" />
          </td>
        </tr>

        <tr>
          <th scope="col">Prénom</th>
          <td>
            <input type="text" formControlName="givenName" />
          </td>
        </tr>
        <tr>
          <th scope="col">Date de Naissance</th>
          <td>
            <input type="date" formControlName="date" />
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button type="submit" class="btn btn-primary" [disabled]="!this.usersForm.valid">
              {{this.buttonLabel == 'Update' ? 'Editer' : 'Ajouter'}}
            </button>
          </td>
        </tr>
      </table>
    </div>

    <div class="row">
      <table class="table table-striped" aria-describedby="My Students">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">Date de Naissance</th>
          <th scope="col">Edition</th>
          <th scope="col">Supression</th>
        </tr>

        <ng-container *ngIf="!(users$ | async)?.length; else userList">
          <p>Aucun utilisateur trouvé.</p>
        </ng-container>

        <ng-template #userList>
          <tr *ngFor="let user of users$ | async; trackBy: userTrackBy">
            <td>{{ user.id }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.givenName }}</td>
            <td>{{ user.date | date: "y-MM-dd" }}</td>
            <td><a (click)="this.editUser(user)" class="btn btn-warning">Edition</a></td>
            <td>
              <a (click)="this.deleteUser(user.id)" class="btn btn-danger">Supression</a>
            </td>
          </tr>
        </ng-template>
      </table>
    </div>
  </form>
</div>
